# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson
# Odoo
'.text.xml':
  'Odoo Views':
    'prefix': 'oviews'
    'body': """
<?xml version="1.0" encoding="utf-8"?>
<openerp>
	<data>
		<record id="view_${1:"name"}_form" model="ir.ui.view">
			<field name="name">view.${1:"name"}.form</field>
			<field name="model">${2:"model"}</field>
			<field name="arch" type="xml">
				<form string="${3:"label"}">
					<sheet>
						<group name="main">
							<field name="${4:"field"}" />
						</group>
					</sheet>
				</form>
			</field>
		</record>

		<record id="view_${1:"name"}_tree" model="ir.ui.view">
			<field name="name">view.${1:"name"}.tree</field>
			<field name="model">${2:"model"}</field>
			<field name="arch" type="xml">
				<tree string="${3:"label"}">
					<field name="${4:"field"}" />
				</tree>
			</field>
		</record>

		<record id="view_${1:"name"}_search" model="ir.ui.view">
			<field name="name">view.${1:"name"}.search</field>
			<field name="model">${2:"model"}</field>
			<field name="arch" type="xml">
				<search string="${3:"label"}">
					<field name="${4:"field"}" />
					<group string="Group By" name="groupby">
						<filter name="${4:"field"}_groupby" string="${4:"field"}"
							context="{'group_by': '${4:"field"}'}" />
					</group>
				</search>
			</field>
		</record>

		<record id="${1:"name"}_action" model="ir.actions.act_window">
			<field name="name">${3:"label"}</field>
			<field name="res_model">${2:"model"}</field>
			<field name="view_mode">tree,form</field>
			<field name="help" type="html">
				<p class="oe_view_nocontent_create">
					Click to create a new ${3:"label"}.
				</p>
			</field>
		</record>

		<menuitem id="${1:"name"}_menu" parent=""
			action="${1:"name"}_action" sequence="20"/>
        ${5}
	</data>
</openerp>
"""

   'Odoo Data Xml':
    'prefix': 'odataxml'
    'body': """
    <?xml version="1.0" encoding='UTF-8'?>
    <openerp>
      <data noupdate="1">

        <record id="${1:example_id}" model="${2:model}">
          <field name="name">New object in client</field>
          <field name="${3:field1}" eval="${4:object_to_reference}" />
        </record>

      </data>
    </openerp>
"""

   'Odoo Wizard view':
    'prefix': 'owizardview'
    'body': """
    <?xml version="1.0" encoding="utf-8"?>
    <openerp>
        <data>
            <record id="view_${1:wizard_name}_form" model="ir.ui.view">
                <field name="name">view.${1:wizard_name}.contract.form</field>
                <field name="model">${2:model}</field>
                <field name="arch" type="xml">
                    <form string="${3:Title}">
                        <sheet>
                            <group name="main">
                                <field name="${4:field_name}" />
                            </group>
                            <footer><button name="function_ok" string="Accept" type="object" class="oe_highlight"/>
                            or
                           	<button string="Cancel" class="oe_link" special="cancel"/></footer>
                        </sheet>
                    </form>
                </field>
            </record>
        </data>
    </openerp>
"""

   'Odoo Record Inherit':
    'prefix': 'orecordinherit'
    'body': """
    <record id="view_${1:name}_inherit" model="ir.ui.view">
        <field name="name">view.${2:name}.inherit</field>
        <field name="model">"${3:model}"</field>
        <field name="inherit_id" ref="${4:addon.view}"/>
        <field name="arch" type="xml">
            <xpath expr="//field[@name='${5:field_name}']" position="after">
                <field name="${6:field_name}" />
            </xpath>
        </field>
    </record>
"""

   'Odoo Inherit View':
    'prefix': 'oinheritview'
    'body': """
    <?xml version="1.0" encoding="utf-8"?>
    <openerp>
        <data>

            <record id="view_${1:name}_inherit" model="ir.ui.view">
    			<field name="name">view.${2:name}.inherit</field>
    			<field name="model">"${3:model}"</field>
                <field name="inherit_id" ref="${4:addon.view}"/>
    			<field name="arch" type="xml">
                    <xpath expr="//field[@name='${5:field_name}']" position="after">
                        <field name="${6:field_name}" />
                    </xpath>
    			</field>
    		</record>

        </data>
    </openerp>

"""

  'Odoo View Form':
    'prefix': 'oform'
    'body': """
    <record id="view_${1:name}_form" model="ir.ui.view">
<field name="name">view.${1:name}.form</field>
<field name="model">${2:model}</field>
<field name="arch" type="xml">
    <form string="${3:label}">
        <sheet>
            <group name="main">
                <field name="${4:field}" />
                ${5}
            </group>
        </sheet>
    </form>
</field>
</record>
"""

  'Odoo View Field':
    'prefix': 'ofield'
    'body': """<field name="${1:field}" />
${2}
"""

  'Odoo Xpath Attributes':
    'prefix': 'oxpathattributes'
    'body': """<xpath expr="//field[@name='${1:name}']" position="attributes">
                    <attribute name="attrs">{'${2:attribute}': [('${3:field}', '=', ${4:condition})]}</attribute>
                </xpath>
"""

  'Odoo View Button':
    'prefix': 'obutton'
    'body': """<button string="${1:Example}"
                        name="${2:python_function}"
                        type="object"
                        context="{}" />
"""

  'Odoo View Group':
    'prefix': 'ogroup'
    'body': """
    <group name="${1:name}">
        <field name="${2:field_name}"/>
    </group>
"""

  'Odoo View Page':
    'prefix': 'opage'
    'body': """
    <page string="${1:name}">
         <group>
            <field name="${2:field_name}"/>
         </group>
    </page>
"""

  'Odoo View Xpath':
    'prefix': 'oxpath'
    'body': """<xpath expr="//field[@name='type']" position="${1:after}">
        <field name="${2:field_name}" />
    </xpath> """

  'Odoo View Header':
    'prefix': 'oheader'
    'body': """<header>
<button name="${1:button_name}" states="${2:states}" string="${3:button_label}"
    class="oe_highlight" />
<field name="state" widget="statusbar" statusbar_visible="${4:states}"/>
</header>
${5}
"""

  'Odoo View Footer':
    'prefix': 'ofooter'
    'body': """
<footer>
	<button name="function_ok" string="Accept" type="object" class="oe_highlight"/>
	or
	<button string="Cancel" class="oe_link" special="cancel" />
</footer>
"""

  'Odoo View Inherit':
    'prefix': 'oinherit'
    'body': """<field name='inherit_id' ref='${1:ref_view}'/> """

  'Odoo View Tittle':
    'prefix': 'otittle'
    'body': """<div class="oe_title">
<h1>
    <label string="${1:label}"/>
    <field name="${2:field}" class="oe_inline"/>
</h1>
</div>
${3}
"""

  'Odoo View Notebook':
    'prefix': 'onotebook'
    'body': """<notebook>
<page string="${1:name}">
</page>
</notebook>
${2}
"""

  'Odoo View Groups2Col':
    'prefix': 'ogroups2col'
    'body': """<group name="${1:group}">
<group name="${2:group1}">
    ${4}
</group>
<group name="${3:group2}">
</group>
</group>
${cursor}</template>

"""

  'Odoo Group':
    'prefix': 'ogrup'
    'body': """<group name="${1:group}">
${2}
</group>
${cursor}
"""

  'Odoo View Invisible':
    'prefix': 'oinvisible'
    'body': 'invisible="1"${1}'

  'Odoo Attrs Invisible':
    'prefix': 'oinvisibleattrs'
    'body': """ attrs="{'invisible':[('${1:field}','=', ${2:condition})]}" """

  'Odoo View Nolabel':
    'prefix': 'onolabel'
    'body': 'nolabel="1"${1}'

  'Odoo View Domain':
    'prefix': 'odomain'
    'body': """domain="[('${1:val1}','${2:comp}','${3:val2}')]${4}"""

  'Odoo View Groups':
    'prefix': 'ogroups'
    'body': 'groups="${1}"'

  'Odoo View Editable':
    'prefix': 'oeditable'
    'body': 'editable="bottom"${1}'

  'Odoo View Monetary':
    'prefix': 'omonetary'
    'body': """widget="monetary" options="{'currency_field': '${1:currency_id}'}"${2}"""

  'Odoo View Col':
    'prefix': 'ocol'
    'body': 'col="${1:col}"${2}'

  'Odoo View Colspan':
    'prefix': 'ocolspan'
    'body': 'colspan="${1:colspan}"${2}'

  'Odoo Report':
    'prefix': 'oreport'
    'body': """
       <?xml version="1.0" encoding="utf-8"?>
       <openerp>
          <data>

              <template id="${1:report_name}">
                  <t t-foreach="docs" t-as="o">
                  <div class="header">

                      </div>

                      <div class="page">

                      </div>

                          <div class="footer">

                          </div>
                  </t>
              </template>

              <report
                   id="${1:report_name}"
                   model="${2:model}"
                   string="${3:name_to_show}"
                   report_type="qweb-pdf"
                   name="${4:addon_name}.${1:report_name}"
                   file="${4:addon_name}.${1:report_name}"
               />
          </data>
       </openerp>
"""

  'Odoo View Tree':
    'prefix': 'otree'
    'body': """
<record id="view_${1:name}_tree" model="ir.ui.view">
    <field name="name">view.${1:name}.tree</field>
    <field name="model">${2:model}</field>
    <field name="arch" type="xml">
        <tree string="${3:label}">
            <field name="${4:field}" />
            ${5}
        </tree>
    </field>
</record>
"""

  'Odoo View Search':
    'prefix': 'osearch'
    'body': """
<record id="view_${1:name}_search" model="ir.ui.view">
    <field name="name">view.${1:name}.search</field>
    <field name="model">${2:model}</field>
    <field name="arch" type="xml">
        <search string="${3:label}">
            <field name="${4:field}" />
            <group string="Group By" name="groupby">
                <filter name="${4:field}_groupby" string="${4:field}"
                    context="{'group_by': '${4:field}'}" />
            </group>
        </search>
    </field>
</record>
${5}
"""

  'Odoo View Action':
    'prefix': 'oaction'
    'body':"""
<record id="${1:name_action}" model="ir.actions.act_window">
<field name="name">${2:label}</field>
<field name="res_model">${3:model}</field>
<field name="view_mode">tree,form</field> cº
<field name="help" type="html">
    <p class="oe_view_nocontent_create">
        Click to create a new ${4:label}.
    </p>
    <p>
        ${5:help}
    </p>
</field>
</record>
${6}
"""

  'Odoo View Menu':
    'prefix': 'omenu'
    'body':"""
<menuitem id="${1:name}_menu" parent="${2:parent_menu}"
        action="${3:name_action}" sequence="20"/>
${4}
"""

  'Odoo Workflow':
    'prefix': 'oworkflow'
    'body':"""
<?xml version="1.0" encoding="utf-8"?>
<openerp>
<data>
    <!-- Workflow -->
    <record id="wkf" model="workflow">
        <field name="name">${1:model}.wkf</field>
        <field name="osv">${1:model}</field>
        <field name="on_create">True</field>
    </record>
    <!-- Activities -->
    <record id="act_draft" model="workflow.activity">
        <field name="wkf_id" ref="{1:model}.wkf" />
        <field name="flow_start">True</field>
        <field name="name">draft</field>
    </record>
    <record id="act_cancel" model="workflow.activity">
        <field name="wkf_id" ref="{1:model}.wkf" />
        <field name="name">cancel</field>
        <field name="flow_stop">True</field>
        <field name="action">action_cancel()
write({'state':'cancel'})
        </field>
        <field name="kind">function</field>
    </record>
    <record id="act_done" model="workflow.activity">
        <field name="wkf_id" ref="{1:model}.wkf" />
        <field name="name">done</field>
        <field name="flow_stop">True</field>
        <field name="action">action_done()
write({'state':'done'})
        </field>
        <field name="kind">function</field>
    </record>
    <!-- Transitions -->
    <record id="t1" model="workflow.transition">
        <field name="act_from" ref="act_draft" />
        <field name="act_to" ref="act_done" />
        <field name="signal">to_done</field>
    </record>
    <record id="t2" model="workflow.transition">
        <field name="act_from" ref="act_draft" />
        <field name="act_to" ref="act_cancel" />
        <field name="signal">to_cancel</field>
    </record>
    ${2}
</data>
</openerp>
</template>
"""

  'Odoo Workflow Activity':
    'prefix': 'oactivity'
    'body':"""
<record id="act_${1:name}" model="workflow.activity">
    <field name="wkf_id" ref="${2:wkf}" />
    <field name="name">${1:name}</field>
    <field name="flow_stop">True</field>
    <field name="action">action_${1:name}()</field>
</record>
${3}
"""

  'Odoo Workflow Stop':
    'prefix': 'otop'
    'body':"""
<field name="flow_stop">True</field>${1}
"""

  'Odoo Workflow Start':
    'prefix': 'ostart'
    'body':"""<field name="flow_start">True</field>${1}
"""

  'Odoo Workflow Transition':
    'prefix': 'otransition'
    'body':"""
<record id="${id}" model="workflow.transition">
    <field name="act_from" ref="${1:act_from}" />
    <field name="act_to" ref="${2:act_to}" />
    <field name="signal">${3:to_signal}</field>
</record>
${4}
"""

'.source.python':
  'Odoo Imports':
    'prefix': 'oimports'
    'body': """
from openerp import models, api, fields, _
${1}
"""

  'Odoo Import Decimal Precision':
    'prefix': 'oimportdp'
    'body': """
from openerp.addons.decimal_precision import decimal_precision as dp
${1}
"""

  'Odoo Import Warning':
    'prefix': 'oimportwarning'
    'body': """
from openerp.exceptions import Warning
${1}
"""

  'Odoo Import Validation Error':
    'prefix': 'oimportvalidationerror'
    'body': """
from openerp.exceptions import ValidationError
${1}
"""

  'Odoo Import Date':
    'prefix': 'oimportdate'
    'body': """from openerp.tools import DEFAULT_SERVER_DATE_FORMAT
${1}
"""

  'Odoo Import Datetime':
    'prefix': 'oimportdatetime'
    'body': """
from openerp.tools import DEFAULT_SERVER_DATETIME_FORMAT
${cursor}
"""

  'Odoo Model':
    'prefix': 'omodel'
    'body': """
class ${1:ModelName}(models.Model):
    _name = '${2:name}'

    ${3}
"""

  'Odoo Inherit':
    'prefix': 'oinherit'
    'body': """_inherit = 'model_name'"""

  'Odoo TransientModel':
    'prefix': 'otransient'
    'body': """
class ${1:ModelName}(models.TransientModel):
    _name = '${2:name}'

    ${3}
"""

  'Odoo _rec_name':
    'prefix': 'orecname'
    'body': """
_rec_name = '${1:name}'
${2}
"""

  'Odoo SQL Constrains':
    'prefix': 'osqlconstraints'
    'body': """
_sql_constraints = [
    ('${1:name}',
     '${2:sql_constraint}',
    "${3:message}"),]
${4}
"""

  'Odoo Boolean':
    'prefix': 'oboolean'
    'body': """
${1:name} = fields.Boolean(
    string='${2:field_name}')
${3}
"""

  'Odoo Char':
    'prefix': 'ochar'
    'body': """
${1:name} = fields.Char(
    string='${2:field_name}')
${3}
"""

  'Odoo Text':
    'prefix': 'otext'
    'body': """
${1:name} = fields.Text(
    string='${2:field_name}')
${3}
"""

  'Odoo Html':
    'prefix': 'ohtml'
    'body': """
${1:name} = fields.Html(
    string='${2:field_name}')
${3}
"""

  'Odoo Integer':
    'prefix': 'ointeger'
    'body': """
${1:name} = fields.Integer(
    string='${2:field_name}')
${3}
"""

  'Odoo Float':
    'prefix': 'ofloat'
    'body': """
${1:name} = fields.Float(
    string='${2:field_name}')
${3}
"""

  'Odoo Date':
    'prefix': 'odate'
    'body': """
${1:name} = fields.Date(
    string='${2:field_name}')
${3}
"""

  'Odoo Datetime':
    'prefix': 'odatetime'
    'body': """
${1:name} = fields.Datetime(
    string='${2:field_name}')
${3}
"""

  'Odoo Binary':
    'prefix': 'obinary'
    'body': """
${1:name} = fields.Binary(
    string='${2:field_name}')
${3}
"""

  'Odoo Selection':
    'prefix': 'oselection'
    'body': """
${1:name} = fields.Selection(
    [('${3:a}', '${4:A}')],
    string='${2:field_name}')
${5}
"""

  'Odoo Reference':
    'prefix': 'oreference'
    'body': """
${1:name} = fields.Reference(
    string='${2:field_name}')
${3}
"""

  'Odoo Many2one':
    'prefix': 'omany2one'
    'body': """
${1:name} = fields.Many2one(
    comodel_name='${2:model}',
    string='${3:field_name}')
${4}
"""

  'Odoo One2many':
    'prefix': 'oone2many'
    'body': """
${1:name} = fields.One2many(
    comodel_name='${2:model}',
    inverse_name='${3:rel_id}',
    string='${4:field_name}')
${5}
"""

  'Odoo Many2many':
    'prefix': 'omany2many'
    'body': """
${1:name} = fields.Many2many(
    comodel_name='${2:model}',
    relation='${3:table_name}',
    column1='${4:col_name}',
    column2='${5:other_col_name}',
    string='${6:field_name}')
${7}
"""

  'Odoo Required':
    'prefix': 'orequired'
    'body': 'required=True'

  'Odoo XmlId':
    'prefix': 'oxmlid'
    'body': """${1:example_id} = self.env.ref('${2:module.object_id}').id"""

  'Odoo Help':
    'prefix': 'ohelp'
    'body': """help='${1:value}'${2}"""

  'Odoo Default':
    'prefix': 'odefault'
    'body': 'default=${1:value}'

  'Odoo Compute':
    'prefix': 'ocompute'
    'body': """compute='_compute_${1:name}'${2}"""

  'Odoo Related':
    'prefix': 'orelated'
    'body': """related='${1:model}.${2:field}'${3}"""

  'Odoo Store':
    'prefix': 'ostore'
    'body': 'store=True'

  'Odoo Copy':
    'prefix': 'ocopy'
    'body': 'copy=True'

  'Odoo Index':
    'prefix': 'oindex'
    'body': 'index=True'

  'Odoo Digits':
    'prefix': 'odigits'
    'body': """digits=dp.get_precision('${1:name}')${2}"""

  'Odoo Api One':
    'prefix': 'oapione'
    'body': """
@api.one
def ${1:function_name}(self):
    ${2}"""

  'Odoo Create model':
    'prefix': 'ocreate'
    'body': """
    @api.model
    def create(self, vals):
        new_id = super(${1:model_name}, self).create(vals)
        return new_id"""

  'Odoo super method':
    'prefix': 'osupermethod'
    'body': """
    res = super(${1:model_name}, self).${2:method}(vals)
"""

  'Odoo Write model':
    'prefix': 'owrite'
    'body': """
  @api.multi
  def write(self, vals):
      return super(${1:model_name}, self).write(vals)"""

  'Odoo Api Multi':
    'prefix': 'oapimulti'
    'body': """
@api.multi
def ${1:function_name}(self):
    ${2}"""

  'Odoo Api Model':
    'prefix': 'oapimodel'
    'body': """
@api.model
def ${1:function_name}(self):
    ${2}"""

  'Odoo Api Depends':
    'prefix': 'oapidepends'
    'body': """@api.depends('${1:fields}')${2}"""

  'Odoo Api Onchange':
    'prefix': 'oapionchange'
    'body': """
@api.onchange('${1:fields}')
def _onchange_${2:function_name}(self):
    ${3}"""

  'Odoo Api Constrains':
    'prefix': 'oapiconstrains'
    'body': """
@api.constrains('${1:fields}')
def _check_${2:field}(self):
    raise ValidationError("${3:validation_error_message}")
${4}"""

  'Odoo Warning':
    'prefix': 'owarning'
    'body': """
raise Warning(
    _("${1:warning_message}"))
${2}"""

  'Odoo Assert':
    'prefix': 'oassert'
    'body': """
assert ${1:var} == ${2:var_2} and '${3:ERROR, Message example}'
"""

  'Odoo Docstring':
    'prefix': 'odocstring'
    'body': '''
"""
    Description_example

    Args:
        param1 (int): des_example

    Returns:
        bool: True if successful, False otherwise.
"""
    '''

  'Odoo Init your_name':
    'prefix': 'oinityour_name'
    'body': """
# -*- coding: utf-8 -*-
##############################################################################
#
#    OpenERP, Open Source Management Solution
#    Copyright (c) 2015 your_name (http://www.your_name.com)
#                       info <${1:email}@your_name.com>
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as
#    published by the Free Software Foundation, either version 3 of the
#    License, or (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
##############################################################################
{
'name' : '${2:name}',
'summary': '${3:summary}',
'version' : '8.0.1.0.0',
'license': 'AGPL-3',
'author' : 'your_name',
'website': 'https://www.your_name.com',
'category' : '${4:category}',
'depends' : ['base',],
'data': [${5}],
'qweb' : [],
'demo': [],
'test': [],
'installable': True,
}"""

  'Odoo Coding':
    'prefix': 'ocoding'
    'body': '
# -*- coding: utf-8 -*-'

'.source.rst':
  'README.rst':
    'prefix': 'oreadme'
    'body': """
.. image:: https://img.shields.io/badge/licence-AGPL--3-blue.svg
   :target: http://www.gnu.org/licenses/agpl-3.0-standalone.html
   :alt: License: AGPL-3

==============
{1:module_title}
==============

This module was written to extend the functionality of ... to support ...
and allow you to ...

Installation
============

To install this module, you need to:

* do this ...

Configuration
=============

To configure this module, you need to:

* go to ...

Usage
=====

To use this module, you need to:

* go to ...

.. image:: https://odoo-community.org/website/image/ir.attachment/5784_f2813bd/datas
   :alt: Try me on Runbot
   :target: https://runbot.odoo-community.org/runbot/{2:repo_id}/{3:branch}

.. repo_id is available in https://github.com/OCA/maintainer-tools/blob/master/tools/repos_with_ids.txt
.. branch is "8.0" for example

Known issues / Roadmap
======================

* ...

Bug Tracker
===========

Bugs are tracked on `GitHub Issues <https://github.com/OCA/{4:project_repo}/issues>`_.
In case of trouble, please check there if your issue has already been reported.
If you spotted it first, help us smashing it by providing a detailed and welcomed feedback `here <https://github.com/OCA/{4:project_repo}/issues/new?body=module:%20{5:module_name}%0Aversion:%20{6:branch}%0A%0A**Steps%20to%20reproduce**%0A-%20...%0A%0A**Current%20behavior**%0A%0A**Expected%20behavior**>`_.


Credits
=======

Contributors
------------

* Firstname Lastname <email.address@example.org>
* Second Person <second.person@example.org>

Maintainer
----------

.. image:: https://odoo-community.org/logo.png
   :alt: Odoo Community Association
   :target: https://odoo-community.org

This module is maintained by the OCA.

OCA, or the Odoo Community Association, is a nonprofit organization whose
mission is to support the collaborative development of Odoo features and
promote its widespread use.

To contribute to this module, please visit http://odoo-community.org.
"""

